<p>users-page works!</p>
<div *ngFor="let i of users">
    <p>{{i.name}}</p>
    <a routerLink="/users/{{i.id}}">{{i.name}}</a>
</div>
<!-- <div>
    <p>{{data}}</p>
</div> -->
<p>ESTO VIENE DE OTRO COMPONENTE QUE ES HERMANO</p>
<div *ngFor="let x of service.list">
    <li>
        NAME:{{x?.name}} E-MAIL:{{x?.email}}
    </li>
</div>