.c-menu {
    width: 100%;
    height: 100px;
    background-color: aqua;
    display: flex;
    &__link {
        border: 0;
        font-size: 24px;
        padding: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
        text-transform: uppercase;
        text-decoration: none;
        &--hover {
            background-color: cadetblue;
        }
    }
}