HEADER
<app-menu></app-menu>
<p>ATENCION==> DESDE CONTACT RELLENAMOS UN FORMULARIO QUE ENVIARA DATOS A USERS</p>
<p>Ahora navegamos a la ruta de abajo ==></p>
<router-outlet>

</router-outlet>
PAGE FINAL