<p>contact-page works!</p>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Datos Personales</legend>
        <label for="name">Your Name
        <input formControlName="name" type="text" id="name" placeholder="Nick">
        <span *ngIf="submitted && contactForm.get('name')?.errors">Min Name 4 Letters</span>
      </label>
        <label for="email">Your Email
        <input formControlName="email" type="email" placeholder="Email">
      </label>
        <label for="description">Abaout you
        <input formControlName="description" type="textarea" placeholder="About you">
      </label>
        <!-- <label></label>
        <input formControlName="skills " type="checkbox " id="CSS " value="CSS ">
        <label></label>
        <input formControlName="skills " type="checkbox " id="JS " value="JS ">
        <label></label>
        <input formControlName="skills " type="checkbox " id="HTML " value="HTML ">
        <label></label>
        <input formControlName="skills " type="checkbox " id="ANGULAR " value="ANGULAR "> -->


    </fieldset>
    <button>Send</button>

</form>
<p>Lo que escribas aqui se enviara al padre tambien</p>
<input class="inputContact" [(ngModel)]="message">
<button (click)="inputMessage()">Click me</button>
<p>Este mensaje viene del padre: {{inputTextSon}}</p>