<app-contact-page [inputTextSon]="inputTextFather" (sendForm)=" formRecived($event) " (emitMessage)="messageRecived($event) "></app-contact-page>


<p>Se muestran los datos del contacto enviado:</p>
<div *ngIf="!active">
    <span>NAME:{{data.name}}</span>
    <span>EMAIL:{{data.email}}</span>
    <span>DESCRIPTION:{{data.description}}</span>
</div>
<button (click)="activeContacts()">Ocultar</button>
<p>ESTE MENSAJE VIENE DESDE EL HIJO
</p><span>{{sonMessage}}</span>

<p>Escribe para que aprezxca en el hijo</p>
<input #fatherInput (keyup)="keyUp(fatherInput.value)">